body {
    font-family: Inter, sans-serif;
}

body.waiting * {
    cursor: progress;
}

::selection {
    background: #f6f42e;
}

/*
// Скрыть первый элемент уведомления, если их больше двух.
#__react-alert__ > div:nth-last-child(n+2):first-child {
    display: none;
}
*/
