@import url('https://fonts.googleapis.com/css2?family=Ysabeau&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.logo {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 10px 15px;
}

.main, .order-main {
    display: flex;
    width: 80%;
    margin: 0 auto;
    gap: 2%;
    flex-direction: row;
    flex-wrap: wrap;
}

.new_items {
    width: 49%;
    margin: 0 auto;
    font-family: 'Ysabeau', sans-serif;
    /* background: rgba(59, 59, 59, 0.534); */
    padding: 10px 15px;
    /* text-align: center; */
}

    .new {
        font-size: 1rem;
        color: #00a316;
    }

        .new span {
            font-weight: bold;
            color: #a3000e;
            /* font-size: 1.2rem; */
        }

.new_items_order {
    width: 49%;
    margin: 0 auto;
    font-family: 'Ysabeau', sans-serif;
    /* background: rgba(59, 59, 59, 0.534); */
    padding: 10px 15px;
    /* text-align: center; */
}

.current_items {
    width: 49%;
    margin: 0 auto;
    font-family: 'Ysabeau', sans-serif;
    padding: 10px 15px;
}

    .current {
        font-size: 1rem;
        color: #a0a300;
    }

        .current span {
            font-weight: bold;
            color: #a3000e;
            /* font-size: 1.2rem; */
        }

.current_items_order {
    width: 49%;
    margin: 0 auto;
    font-family: 'Ysabeau', sans-serif;
    padding: 10px 15px;
}